@CHARSET "ISO-8859-1";

body {
	background: url('../img/tabletmate2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000;
	background-color: #333;
	font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}

.panel-default {
	opacity: 0.9;
	margin-top: 30px;
}

.form-group.last {
	margin-bottom: 0px;
}

a:link, a:visited {
	color: #eee;
}

.jumbotron {
	background-color: #fff;
	color: #FFFF;
}

.modelado input[type="text"],.modelado textarea{
	width: 100%;
}

.modelado .activo{
	margin-bottom: 1em;
}

.modelado .agregar{
	margin-top: 1em;
	margin-bottom: 1em;
}

.modelado .respuesta{
	margin: 1em 0em;
}

.btn-lg {
	width: 100%;
	background-color: #2427ac;
	color: #fff;
	margin-top: 2em;
}

td {
	width: 80%;
}

.registro {
	background-color: rgba(255, 255, 255, 0.5);
}

select {
	width: 100%;
}

tbody tr {
	cursor: pointer;
}

tbody tr:hover {
	background-color: #BF4147 !important;
}

.selected {
	background-color: #BF4147 !important;
}

.nav-tabs>li>a:hover {
	border-color: #fff #fff #ff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

.jumbotron h1{
	color: #000;
}

.panel-group{
	margin-bottom: 0px;
}

.panel-default{
	margin-top: 0px;
}

.panel-group a:link,.panel-group a:visited {
    color: #000;
}

.margin-resp{
	margin-top: 1em;
}

.p-principal{
	text-align: center;
}