@CHARSET "ISO-8859-1";

body{
	
	background: url('../img/tabletmate2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#000;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

a:link, a:visited {
	color:#eee;
}

.jumbotron{
	background-color: #fff;
	color: #FFFF;
}

.btn-lg{
	width: 100%;
	background-color: #2427ac;
	color: #fff;
	margin-top: 2em;
}

td{
	width: 80%;
}

.registro{
	background-color: rgba(255,255,255,0.5);
}